body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: rgb(90, 155, 118);
}

#container {
  width: 900px;
  margin: 150px auto;
  padding: 35px;
  background-color: #f5f3d7;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(16, 125, 67, 0.2);
  text-align: center;
}

h1 {
  color: #155831;
}

#resultado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}

.card {
  border: 1px solid #699a76;
  padding: 10px;
  margin: 5px;
  width: 130px;
  background-color: #285836;
  transition: transform 0.3s ease;
  color: white;
  
}

.card:hover {
  transform: scale(1.05);
  background-color: rgb(90, 155, 118);
}

button {
  background-color: #285836;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #81c992;
}
